{% extends "admin/submit_line.html" %}
{% load submit_buttons %}

<div class="submit-row">
  {% block submit-row %}
    {% with submits=changeform_submits|right_positioned_submits %}
      {% for submit in submits %}
        {{ submit.html }}
      {% endfor %}
    {% endwith %}

    {{ block.super }}

    {% with submits=changeform_submits|left_positioned_submits %}
      {% if submits %}
        <p class="deletelink-box">
          {% for submit in submits %}
            {{ submit.html }}
          {% endfor %}
        </p>
      {% endif %}
    {% endwith %}
  {% endblock %}
</div>
